- const categoriesLength = Object.keys(locals.flashes).length;
if (categoriesLength !== 0)
    .inner
        .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
                each message in flashes[category]
                    .flash(class=`flash--${category}`)
                        p.flash__text!= message
                        button.flash__remove(onClick='this.parentElement.parentElement.parentElement.remove()') &times;